@import "./../../../../theme.scss";

.button{
    text-align: right;
}

.inline{
    display: inline-block;
}

.checkB{
    display: block;
    font-size: 17px;
    padding-left: 20px;
    padding-top: 20px;
    min-width: 10px;
    max-width: 10px;
}

.mat-list-base {
    padding-top: 8px;
    display: block;
    -webkit-tap-highlight-color: transparent;
    overflow-y: auto;
    height: 76vh;
}

.delete {
    overflow-y: auto;
    height: 72vh;
}
