@import "./../../../../theme.scss";

.sidebar {
    height: 70vh;
    width: 10vw;
    border: 3px;
    background-color: $textColor;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 15px;
}

.next {
    background-color: white;
}

.end {
    background-color: $back;
}

.nextText {
    color: $textColor;
    font-size: 18px;
    font-weight: bold;
    margin: 0%;
    padding: 0%;
}


button {
    width: 8vw;
    height: 12vh;
}